.filter-area-container {
  display: flex;
  flex-direction: column;
  .sorting {
    display: flex;
    flex-direction: column;
    .sorting-button {
    }
    .sorting-button-icon {
    }
  }
  .arrival-time {
    display: flex;
    flex-direction: column;
  }
  .stops-container {
    display: flex;
    flex-direction: column;
  }
  .airlines-included {
    display: flex;
    flex-direction: column;
  }
}
